body {
  font-family: -apple-system, BlinkMacSystemFont, "PingFang SC", "Helvetica Neue", STHeiti, "Microsoft Yahei", Tahoma, Simsun, sans-serif;
}
@charset "utf-8";
/* 初始化 */
body,
div,
ul,
li,
ol,
h1,
h2,
h3,
h4,
h5,
h6,
input,
textarea,
select,
p,
dl,
dt,
dd,
a,
img,
button,
form,
table,
th,
tr,
td,
tbody,
article,
aside,
details,
figcaption,
figure,
footer,
header,
menu,
nav,
section {
  margin: 0;
  padding: 0;
  /* 设置成 css3 盒子模型, padding和border会自动内减 */
  box-sizing: border-box;
}
body {
  font: 12px/1.5 'Microsoft YaHei', '宋体', Tahoma, Arial, sans-serif;
  color: #555;
  background-color: #F7F7F7;
}
/*去除边框*/
fieldset,
img,
input,
button,
textarea {
  border: none;
  /*去除的蓝色小边框*/
  outline-style: none;
}
/*禁止表单域缩放*/
textarea {
  resize: none;
}
a:link,
a:visited,
a:hover,
a:active {
  text-decoration: none;
  color: #969696;
  /* 取消链接高亮  */
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
/* 图片自适应 */
img {
  width: 100%;
  /* 解决图片底部对其问题*/
  /* 转成块级之后的元素, 对 vertical-align 属性 无感 */
  display: block;
  border: none;
}
ul,
ol {
  list-style: none;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  text-decoration: none;
  font-weight: normal;
  font-size: 100%;
}
/* 废物利用 */
em,
i {
  font-style: normal;
}
.fl {
  float: left;
}
.fr {
  float: right;
}
/*清除浮动*/
.clearfix:before,
.clearfix:after {
  content: "";
  display: table;
}
.clearfix:after {
  clear: both;
}
/*单行溢出*/
.one-txt-cut {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
/*多行溢出*/
.txt-cut {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}
/*字体px处理*/
body {
  font-size: 14px;
}
[data-dpr="2"] body {
  font-size: 28px;
}
[data-dpr="3"] body {
  font-size: 42px;
}
.mm_container {
  width: 100%;
  background-color: #fff;
  padding-top: 1.30666667rem;
  padding-bottom: 3.66666667rem;
  position: relative;
  overflow: hidden;
}
.mm_header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 1.30666667rem;
  background-color: #ff841d;
}
.mm_header .header_left {
  width: 4.94666667rem;
  height: 0.66666667rem;
  background: url('../images/header_logo.png') 0 0 no-repeat;
  background-size: 4.94666667rem 0.66666667rem;
  margin: 0.32rem;
}
.mm_header .header_left a {
  display: block;
  width: 100%;
  height: 100%;
}
.mm_header .header_right {
  width: 0.90666667rem;
  height: 0.90666667rem;
  background: url('../images/header_app.png') 0 0 no-repeat;
  background-size: 0.90666667rem 0.90666667rem;
  margin: 0.2rem;
}
.mm_search {
  width: 100%;
  position: relative;
  padding: 0.13333333rem;
  padding-right: 2rem;
}
.mm_search input {
  height: 0.8rem;
  width: 100%;
  border-radius: 0.4rem;
  text-indent: 0.66666667rem;
  background-color: #f1f1f1;
}
.mm_search button {
  position: absolute;
  right: 0.13333333rem;
  top: 0.13333333rem;
  height: 0.8rem;
  width: 1.66666667rem;
  border-radius: 30px;
  background-color: #ff841d;
  color: #fff;
  font-size: 14px;
}
[data-dpr="2"] .mm_search button {
  font-size: 28px;
}
[data-dpr="3"] .mm_search button {
  font-size: 42px;
}
/*底部*/
.mm_footer {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 3.22666667rem;
  background-color: #f1f1f1;
}
.mm_footer .footer_top {
  border-top: 1px solid #666;
  border-bottom: 1px solid #666;
  height: 0.90666667rem;
}
.mm_footer .footer_top a {
  height: 0.90666667rem;
  display: block;
  width: 33.33%;
  float: left;
  text-align: center;
  line-height: 0.90666667rem;
  border-right: 1px solid #666;
}
.mm_footer .footer_top a img {
  width: 0.26666667rem;
  height: 0.26666667rem;
  display: inline-block;
  width: 0.4rem;
  vertical-align: middle;
  margin-right: 0.06666667rem;
}
.mm_footer .footer_bottom {
  margin-top: 0.4rem;
}
.mm_footer .footer_bottom p {
  text-align: center;
}
.mm_header a {
  display: block;
  padding: 0.4rem;
}
.mm_header a img {
  width: 0.4rem;
}
.mm_header .header_title {
  text-align: center;
  overflow: hidden;
  height: 1.30666667rem;
  line-height: 1.30666667rem;
  font-size: 16px;
  color: #fff;
}
[data-dpr="2"] .mm_header .header_title {
  font-size: 32px;
}
[data-dpr="3"] .mm_header .header_title {
  font-size: 48px;
}
#wrapper {
  position: relative;
}
#wrapper ul {
  height: 1.06666667rem;
  overflow: hidden;
  border-bottom: 1px solid #ccc;
}
#wrapper ul li {
  float: left;
  height: 0.8rem;
  padding: 0 0.26666667rem;
}
#wrapper ul li a {
  display: block;
  height: 100%;
  line-height: 0.8rem;
}
#wrapper ul li a.active {
  border-bottom: 2px solid #f4483e;
}
#wrapper img {
  position: absolute;
  top: 0;
  right: 0;
  background-color: #fff;
  width: 1.06666667rem;
  height: 1.06666667rem;
}
.main_pro {
  width: 100%;
}
.main_pro li {
  position: relative;
  padding: 0.26666667rem 0.13333333rem;
  width: 100%;
  float: left;
  height: 4rem;
  border-top: 0.13333333rem solid #cccccc;
}
.main_pro li img {
  float: left;
  width: 3.4rem;
  height: 3.4rem;
}
.main_pro li .pro_right {
  padding-left: 0.26666667rem;
  overflow: hidden;
}
.main_pro li .pro_right .pro_tit {
  font-size: 14px;
  color: #000;
  height: 0.6rem;
  line-height: 0.6rem;
}
[data-dpr="2"] .main_pro li .pro_right .pro_tit {
  font-size: 28px;
}
[data-dpr="3"] .main_pro li .pro_right .pro_tit {
  font-size: 42px;
}
.main_pro li .pro_right .pro_price {
  color: #fc353a;
  line-height: 1.06666667rem;
}
.main_pro li .pro_right .pro_price i,
.main_pro li .pro_right .pro_price em,
.main_pro li .pro_right .pro_price del {
  margin: 0.06666667rem;
}
.main_pro li .pro_right .pro_price del {
  color: #ccc;
}
.main_pro li .pro_right .bar {
  height: 0.4rem;
}
.main_pro li .pro_right .bar i {
  z-index: 10;
  display: inline-block;
  position: relative;
  width: 2.13333333rem;
  height: 0.4rem;
  border: 1px solid #fc353a;
  background-color: #ffb7b7;
  border-radius: 0.2rem;
  overflow: hidden;
}
.main_pro li .pro_right .bar span {
  position: absolute;
  z-index: 11;
  width: 100%;
  text-align: center;
  line-height: 0.4rem;
  color: #fff;
}
.main_pro li .pro_right .bar em {
  height: 100%;
  background-color: #fc353a;
  position: absolute;
  left: 0;
  top: 0;
  border-radius: 0.2rem;
  display: block;
}
.main_pro li .pro_right .bar b {
  margin-left: 0.26666667rem;
  color: #fc353a;
  height: 0.4rem;
  line-height: 0.4rem;
  font-weight: 400;
}
.main_pro li .pro_right .pro_link {
  margin-top: 0.4rem;
}
.main_pro li .pro_right .pro_link .link_left {
  width: 2.8rem;
  height: 0.66666667rem;
  border: 1px dashed #fc353a;
  text-align: center;
  line-height: 0.66666667rem;
}
.main_pro li .pro_right .pro_link .link_right {
  width: 1.53333333rem;
  height: 0.66666667rem;
  background-color: #fc353a;
  border-radius: 0.13333333rem;
  text-align: center;
  line-height: 0.66666667rem;
}
.main_pro li .pro_right .pro_link .link_right a {
  display: block;
  height: 100%;
  color: #fff;
}
.main_pro li .click {
  opacity: 0;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}
.main_pro li .click a {
  height: 100%;
  display: block;
}
.back {
  width: 0.8rem;
  height: 0.8rem;
  position: fixed;
  bottom: 1.33333333rem;
  right: 0.66666667rem;
  opacity: .5;
}
