body {
  font-family: -apple-system, BlinkMacSystemFont, "PingFang SC", "Helvetica Neue", STHeiti, "Microsoft Yahei", Tahoma, Simsun, sans-serif;
}
@charset "utf-8";
/* 初始化 */
body,
div,
ul,
li,
ol,
h1,
h2,
h3,
h4,
h5,
h6,
input,
textarea,
select,
p,
dl,
dt,
dd,
a,
img,
button,
form,
table,
th,
tr,
td,
tbody,
article,
aside,
details,
figcaption,
figure,
footer,
header,
menu,
nav,
section {
  margin: 0;
  padding: 0;
  /* 设置成 css3 盒子模型, padding和border会自动内减 */
  box-sizing: border-box;
}
body {
  font: 12px/1.5 'Microsoft YaHei', '宋体', Tahoma, Arial, sans-serif;
  color: #555;
  background-color: #F7F7F7;
}
/*去除边框*/
fieldset,
img,
input,
button,
textarea {
  border: none;
  /*去除的蓝色小边框*/
  outline-style: none;
}
/*禁止表单域缩放*/
textarea {
  resize: none;
}
a:link,
a:visited,
a:hover,
a:active {
  text-decoration: none;
  color: #969696;
  /* 取消链接高亮  */
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
/* 图片自适应 */
img {
  width: 100%;
  /* 解决图片底部对其问题*/
  /* 转成块级之后的元素, 对 vertical-align 属性 无感 */
  display: block;
  border: none;
}
ul,
ol {
  list-style: none;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  text-decoration: none;
  font-weight: normal;
  font-size: 100%;
}
/* 废物利用 */
em,
i {
  font-style: normal;
}
.fl {
  float: left;
}
.fr {
  float: right;
}
/*清除浮动*/
.clearfix:before,
.clearfix:after {
  content: "";
  display: table;
}
.clearfix:after {
  clear: both;
}
/*单行溢出*/
.one-txt-cut {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
/*多行溢出*/
.txt-cut {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}
/*字体px处理*/
body {
  font-size: 14px;
}
[data-dpr="2"] body {
  font-size: 28px;
}
[data-dpr="3"] body {
  font-size: 42px;
}
.mm_container {
  width: 100%;
  background-color: #fff;
  padding-top: 1.30666667rem;
  padding-bottom: 3.66666667rem;
  position: relative;
  overflow: hidden;
}
.mm_header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 1.30666667rem;
  background-color: #ff841d;
}
.mm_header .header_left {
  width: 4.94666667rem;
  height: 0.66666667rem;
  background: url('../images/header_logo.png') 0 0 no-repeat;
  background-size: 4.94666667rem 0.66666667rem;
  margin: 0.32rem;
}
.mm_header .header_left a {
  display: block;
  width: 100%;
  height: 100%;
}
.mm_header .header_right {
  width: 0.90666667rem;
  height: 0.90666667rem;
  background: url('../images/header_app.png') 0 0 no-repeat;
  background-size: 0.90666667rem 0.90666667rem;
  margin: 0.2rem;
}
.mm_search {
  width: 100%;
  position: relative;
  padding: 0.13333333rem;
  padding-right: 2rem;
}
.mm_search input {
  height: 0.8rem;
  width: 100%;
  border-radius: 0.4rem;
  text-indent: 0.66666667rem;
  background-color: #f1f1f1;
}
.mm_search button {
  position: absolute;
  right: 0.13333333rem;
  top: 0.13333333rem;
  height: 0.8rem;
  width: 1.66666667rem;
  border-radius: 30px;
  background-color: #ff841d;
  color: #fff;
  font-size: 14px;
}
[data-dpr="2"] .mm_search button {
  font-size: 28px;
}
[data-dpr="3"] .mm_search button {
  font-size: 42px;
}
/*底部*/
.mm_footer {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 3.22666667rem;
  background-color: #f1f1f1;
}
.mm_footer .footer_top {
  border-top: 1px solid #666;
  border-bottom: 1px solid #666;
  height: 0.90666667rem;
}
.mm_footer .footer_top a {
  height: 0.90666667rem;
  display: block;
  width: 33.33%;
  float: left;
  text-align: center;
  line-height: 0.90666667rem;
  border-right: 1px solid #666;
}
.mm_footer .footer_top a img {
  width: 0.26666667rem;
  height: 0.26666667rem;
  display: inline-block;
  width: 0.4rem;
  vertical-align: middle;
  margin-right: 0.06666667rem;
}
.mm_footer .footer_bottom {
  margin-top: 0.4rem;
}
.mm_footer .footer_bottom p {
  text-align: center;
}
.mm_main .main_tit h3 {
  border-bottom: 1px solid #ccc;
  border-top: 2px solid #cccccc;
  height: 1.06666667rem;
  background-color: #eee;
  line-height: 1.06666667rem;
  padding-left: 0.26666667rem;
  font-size: 16px;
  color: #8d393f;
}
[data-dpr="2"] .mm_main .main_tit h3 {
  font-size: 32px;
}
[data-dpr="3"] .mm_main .main_tit h3 {
  font-size: 48px;
}
.mm_main .main_one li {
  height: 1.6rem;
  border-bottom: 1px solid #ccc;
  padding: 0.26666667rem 0.13333333rem;
}
.mm_main .main_one li a {
  display: block;
}
.mm_main .main_one li .num {
  width: 0.6rem;
  height: 0.6rem;
  background-color: #c9c9c9;
  text-align: center;
  line-height: 0.6rem;
  margin-top: 0.2rem;
  color: #fff;
}
.mm_main .main_one li .info {
  padding: 0.13333333rem;
  overflow: hidden;
}
.mm_main .main_one li .info p:first-child {
  color: #000;
}
.mm_main .main_one li .info p:last-child {
  color: #ccc;
}
.mm_main .main_one li img {
  margin-top: 0.33333333rem;
  width: 0.34666667rem;
  height: 0.46666667rem;
}
.mm_main .main_one li:first-child a .num {
  background-color: red;
}
.mm_main .main_one li:nth-child(2) a .num {
  background-color: #ff8b00;
}
.mm_main .main_one li:nth-child(3) a .num {
  background-color: #8adf5a;
}
.mm_main .main_two li {
  height: 3.36rem;
  border-bottom: 1px solid #ccc;
  padding: 0.26666667rem 0.13333333rem;
}
.mm_main .main_two li img {
  float: left;
  width: 2.66666667rem;
  height: 2.66666667rem;
}
.mm_main .main_two li .info {
  padding: 0.26666667rem;
  overflow: hidden;
}
.mm_main .main_two li .info p {
  line-height: 0.66666667rem;
}
.mm_main .main_two li .info .tit {
  color: #000;
}
.mm_main .main_two li .info .price span {
  color: red;
}
.mm_main .main_two li .info img {
  float: right;
  margin-top: 0.13333333rem;
  width: 2.4rem;
  height: 0.4rem;
}
.mm_main .main_three li {
  border-bottom: 1px solid #ccc;
  padding: 0.4rem;
}
.mm_main .main_three li .info {
  overflow: hidden;
}
.mm_main .main_three li .info img {
  float: left;
  width: 2.66666667rem;
  height: 2.66666667rem;
}
.mm_main .main_three li .info .tit {
  padding: 0.26666667rem;
  overflow: hidden;
}
.mm_main .main_three li .comment {
  background-color: #f8f8f8;
  border: 1px solid #ccc;
  position: relative;
  margin-top: 0.4rem;
  padding: 0.4rem;
}
.mm_main .main_three li .comment .content {
  line-height: 0.46666667rem;
  color: #000;
}
.mm_main .main_three li .comment:before {
  content: '';
  position: absolute;
  top: -0.22666667rem;
  left: 1.33333333rem;
  border-bottom: 0.25333333rem solid #f8f8f8;
  border-left: 0.25333333rem solid transparent;
  border-right: 0.25333333rem solid transparent;
}
.mm_main .main_three li .comment:after {
  content: '';
  position: absolute;
  top: -0.18666667rem;
  left: 1.42666667rem;
  width: 0.30666667rem;
  height: 0.30666667rem;
  border: 1px solid #ccc;
  transform: rotate(45deg);
  border-bottom: none;
  border-right: none;
}
.mm_main .main_three li .comment .user {
  padding: 0.2rem 0;
}
.mm_main .main_three li .comment .user img {
  display: inline-block;
  width: 2.4rem;
  height: 0.4rem;
  vertical-align: middle;
  margin-left: 0.26666667rem;
}
